---
layout: base
---
<div class="blog-cover">
    <div id="blog-slider">
        <img src="/images/port1.jpg">
        <img data-src="/images/port2.jpg">
        <img data-src="/images/port3.jpg">
    </div>
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}
                <h3>{{ site.inc.subtitle }}</h3>
            {% endif %}

            {% if site.inc.twitter %}
                <a class="social" href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
                <a class="social" href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            {% endif %}
            <a class="social" href="/feed.xml" title="RSS Feed">
                <i class="fa fa-rss"></i>
            </a>
        </div>
    </section>
</div>


<article class="container">
{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <div>
            <div class="meta">
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
            <h2 class="title"><a href="{{ post.link }}" target="_blank" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta">
                Source  &mdash; <address>{{ post.source }}</address>
                <span>
                    <i class="fa fa-share-alt fa-lg"></i>
                </span>
            </div>
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </section>
</article>
