<div class="social">
    <label>Share this article: </label>
    <div>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}" target="_blank">
            <i class="fa fa-lg fa-twitter"></i>
        </a>
    </div>
    <div>
        <a href="https://facebook.com/sharer/sharer.php?u={{ page.url }}" target="_blank">
            <i class="fa fa-lg fa-facebook"></i>
        </a>
    </div>
    <div>
        <a href="https://plus.google.com/share?url={{ page.url }}" target="_blank">
            <i class="fa fa-lg fa-google-plus"></i>
        </a>
    </div>
    <div>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary={{ page.excerpt }}&source={{ page.url }}" target="_blank">
            <i class="fa fa-lg fa-linkedin"></i>
        </a>
    </div>
</div>
