body {
    padding-top: 4em;
}

.site-nav {
    z-index:100;
    background: white;
    opacity: .85;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;

    #brand {
        display: inline-block;
    }

    img.brand {
        height: 3em;
    }

    nav {
        ul {
            display: block;
            text-align: center;
            list-style: none;
        }

        li {
            display: inline-block;
            width: auto;
            margin-right: .25em;
            line-height: 4em;
        }

        a {
            text-transform: uppercase;
            font-size: .9em;
            padding: 0 1em;
            display: block;

            &:hover {
                color: $accent;
                background: #e0e0e0;
            }
        }

        > a, .dropdown-toggle  {
            color:#444;
            border:0;
            font-weight:600;
            font-size:15px;
            display:inline-block;
        }
    }
}
